.leaflet-popup-content {
  margin: 0px 20px;
}
.leaflet-popup-content-wrapper {
  border: none;
  box-shadow: none;
  background: rgba(255,255,255,0);
  margin-bottom: 5px;
}
.leaflet-popup-tip-container {
  display: none;
}
.leaflet-container a.leaflet-popup-close-button {
  display: none;
}
.leaflet-routing-container {
  display: none;
}
